@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

html,
body {
  @apply flex flex-1 h-full w-full bg-[#2F2F31];
}


#__next,
#__next + div {
  @apply flex flex-1 h-full w-full;
}

/* Write your own custom component styles here */
.btn-blue {
  @apply px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-600;
}

.input-full {
  flex:1;
  display:block;
  border:none;
  min-width:0;
}

::-webkit-scrollbar { height: auto; }
::-webkit-scrollbar-button { height: 0; }
::-webkit-scrollbar-thumb { background-color: #555;}
::-webkit-scrollbar-corner { background-color: transparent;}
::-webkit-resizer { background-color: transparent;}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
